<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	th:replace="fragments/layout :: layout (~{::body},'Conhecimentos- Find by Remetente')">
<head>
<title>Hello World!</title>
</head>
<body>

	<div class="container pt-4">
		<h2 th:text="#{findBySender}" id="h2">!</h2>



		<br />

		<div class="pt-2">

			<div class="input-group mb-3">
				<button class="btn btn-outline-success" type="submit"
					id="button-addon1" th:text="#{find}" onclick="find()">Button</button>

				<input type="text" class="form-control" placeholder="CNPJ"
					aria-label="Example text with button addon"
					aria-describedby="button-addon1" required id="inputCnpj">
				<div class="invalid-feedback">Please provide a valid city.</div>

			</div>

		</div>

		<div class="alert alert-success" role="alert" hidden="true"
			id="divAlert">This is a success alert—check it out!</div>
		<div class="pt-3">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Numero</th>
						<th scope="col">Serie</th>
						<th scope="col">Emissao</th>
						<th scope="col">Total</th>
						<th scope="col">Componentes</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="conhecimento : ${conhecimentos}">
						<th scope="row" th:text="${conhecimento.chave}">1</th>
						<td th:text="${conhecimento.numero}">Mark</td>
						<td th:text="${conhecimento.serie}">Mark</td>
						<td
							th:text="${#temporals.format(conhecimento.emissao,'dd/MM/yyyy')}">Mark</td>
						<td th:text="${conhecimento.total}">Mark</td>

					</tr>

				</tbody>
			</table>
			<nav aria-label="Page navigation example">
				<ul class="pagination">
					<li class="page-item" th:each="pageNumber : ${pageNumbers}"><a
						class="page-link" href="#"
						th:href="@{/conhecimentos/findByRemetente/09512164000172(size=${conhecimentos.size}, page=${pageNumber})}"
						th:text=${pageNumber}></a></li>

				</ul>
			</nav>

		</div>
	</div>


	<!-- Button trigger modal -->
	<button type="button" class="btn btn-primary" data-toggle="modal"
		data-target="#exampleModal">Launch demo modal</button>

	<!-- Modal -->
	<div class="modal fade" id="fetchModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Fetching...</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<div class="progress">
						<div
							class="progress-bar progress-bar-striped progress-bar-animated"
							role="progressbar" aria-valuenow="75" aria-valuemin="0"
							aria-valuemax="100" style="width: 100%"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						onclick="closeModal()">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/resources/js/view/byRemetenteView.js}"></script>
</body>
</html>